#about {
    margin-left: 200px;
    margin-right: 50px;
    overflow: hidden;
}

#aboutContent {
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    margin-top: 60px;
    align-items: center;
}

#portrait {
    max-width: 245px;
    width: auto;
    max-height: 330px;
    height: auto;
    padding-right: 30px;
}

#bio {
    max-width: 700px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2rem;
}

#bio h3 {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.icon {
    display: inline-block;
    width: 28px;
    height: 28px;
    padding: 5px;
    vertical-align: middle;
}

.text {
    display: inline-block;
    margin-left: 3px;
    font-family: 'Lato', sans-serif;
    font-size: 17px;
    color: #3962bd;
    vertical-align: middle;
}

/* Media Queries */
@media screen and (min-width: 320px) and (max-width: 767px) {
    #about {
        margin-left: 0;
        margin-bottom: 20px;
    }

    #aboutContent {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    #portrait { margin-bottom: 20px; }
}

/* 
  ##Device = Tablets, iPads in portrait
  ##Screen = Between 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    #about { margin-bottom: 20px; }

    #portrait { margin-bottom: 20px; }
  }
  
  /* 
    ##Device = Tablets, iPads in landscape
    ##Screen = Between 768px to 1024px
  */
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    #about { margin-bottom: 20px; }

    #portrait { margin-bottom: 20px; }
  }

  /* 
  ##Device = Laptops, desktops
  ##Screen = Between 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
    #about { margin-bottom: 20px; }

    #portrait { margin-bottom: 20px; }
  }
  
  @media (min-width: 1281px) {
    #about { margin-bottom: 20px; }

    #portrait { margin-bottom: 20px; }
  
  }