#research { 
    max-width: 800px;
    margin-left: 200px;
    color: #474747;
    overflow: hidden;
}

#research h1 { color: #212121; }

#research a { color: #3962bd; }

#research li {
    display: block;
    padding: 10px 0 30px;
}

/* Media Queries */
@media screen and (min-width: 320px) and (max-width: 767px) {
      #research { margin-left: 0; }

      #research ul li { margin: 0; }
    }