#social_media { 
    max-width: 800px;
    margin-left: 200px; 
    overflow: hidden;
}

#social_media a { color: #3962bd; }

#social_media li {
    display: block;
    padding: 10px 0 30px;
}

/* Media Queries */
@media screen and (min-width: 320px) and (max-width: 767px) {
    #social_media { margin-left: 0; }

    #social_media ul li { margin: 0; }
  }