.abstract {
    display: flex;
    margin-top: 10px;
    max-width: 700px;
    padding: 0 10px;
    font-family: 'Karma', serif;
    font-weight: 500;
    color: #212121;
    line-height: 25px;
    border-left: solid 2px #f5f5f5;
}