body {
  font-family: 'Lato', sans-serif !important;
  font-size: 18px;
  line-height: 27px;
  color: #212121;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff !important;
}

h1 { 
  font-family: 'Cormorant Garamond', serif;
  font-size: 2.6rem; 
}

h2 { 
  font-weight: 300 !important; 
  font-size: 1.7rem;
}

/* Link hover color transition animation */
a {
  text-decoration: none !important;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

li {
  display: inline-block;
  margin-right: 6rem;
}

#sidebar {
  position: fixed;
  font-size: 17px;
  border-right: solid 1px #212121;
}

#sidebar h1 {
  font-size: 1.8rem;
  color: #212121;
}

#sidebar p { font-size: 0.9rem; }
  
#sidebar a { color: #212121; }
  
#sidebar a:hover { color: #5c5c5c; }

#portrait {
  width: 100px;
  height: 100px;
  margin-right: 10px;
  padding: 5px;
  border: solid 1px #212121;
  border-radius: 50%;
}

#content {
  margin-top: 75px;
  margin-left: 200px;
  overflow: hidden;
}

/* Media Queries */
/* Shared attributes from 320px to 767px */
@media screen and (min-width: 319px) and (max-width: 767px) {
  ul { padding: 0; }

  #sidebar { 
    width: 100%;
    border-right: none;
  }

  #sidebar h1 { font-size: 1.2rem; }

  #sidebar img { display: none !important; }

  #content { margin: 0 20px 0; }

  #content h1 { margin-top: 80px; }
}

/* 
  ##Device = Tablets, iPads in portrait
  ##Screen = Between 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
  #sidebar {
    width: 250px;
    margin-left: 70px;
    padding: 25px 0 75px;
  }
}

/* 
  ##Device = Tablets, iPads in landscape
  ##Screen = Between 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  #sidebar {
    width: 250px;
    margin-left: 70px;
    padding: 25px 0 75px;
  }
}

/* 
  ##Device = Laptops, desktops
  ##Screen = Between 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
  #sidebar {
    width: 250px;
    margin-left: 70px;
    padding: 25px 0 75px;
  }
}

@media (min-width: 1281px) {
  #sidebar {
    width: 250px;
    margin-left: 150px;
    padding: 25px 0 75px;
  }

  #content { margin-left: 300px; }
}