.title {
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-weight: 400;
    color: #3962bd;
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1.5px;
    transition: background-size .3s;
}

.title:hover, .title:focus {
    background-size: 100% 1.5px;
}

.citations,
.publisher {
    color: #474747;
}

.citations::before,
.publisher::before {
    white-space: pre;
    content: "\A";
}

#paper { 
    max-width: 800px;
}